CONFLUENCE_BASE_URL=https://konawiki.konai.com
CONFLUENCE_USERNAME=여기에_Confluence_아이디_입력
CONFLUENCE_PASSWORD=여기에_Confluence_비밀번호_입력
FIGMA_EMAIL=여기에_Figma_이메일_입력
FIGMA_PASSWORD=여기에_Figma_비밀번호_입력
OPENAI_API_KEY=여기에 OpenAI_API_Key_입력